@media (max-width: 720px){
    .menu1{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    .menu1 ul{
        display: inline-grid;
        grid-template-columns: 25%;
    }
}